:root {

    --f_primary: 'Playfair Display', serif;
    --f_secondary: 'Poppins', sans-serif;

    --laranja_light: #ec8444;
    --laranja_dark: #cb6e43;
    --marrom: #793922;
    --bege: #fadbbf;

    --holo-gradient-1: repeating-linear-gradient(
        125deg,
        #ffffff 0%,
        #fef08a 12%,
        #d97706 25%,
        #ffffff 50%,
        #fef08a 62%,
        #d97706 75%,
        #ffffff 100%
    );

    --holo-gradient-2: repeating-linear-gradient(
        127deg,
        #ffd700 0%,
        #ffffff 10%,   
        #3a2000 20%,   
        #b8860b 30%,   
        #ffffff 40%,   
        #ffd700 50%
    );
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--f_primary);
    background: linear-gradient(var(--marrom) 100px, #b7876d,  50%, var(--bege) 100%);
    color: var(--marrom);
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.title{

    
    font-size: 45px;
    text-align: center;
    margin: 20px;
    padding: 20px;

}

.banner{

    display: block; 
    margin: 20px auto;    
    max-width: 100%;   
    height: auto;

}

hr{

    border: 2px var(--marrom) solid;
    width: 85%;
    margin: 0 auto;    
    max-width: 1200px;

}

.main-card{

    margin: 30px auto; 
    display: flex;
    max-width: 1200px;
    width: 90%;

    .texto{

        width: 55%;
        font-family: var(--f_secondary);
        text-indent: 40px;
        text-align: justify;
        margin:auto;
        font-size: 1rem;

    }

    .imagem{

        margin:auto;
        max-width: 600px;
        width: 45%;
        img{width: 100%;}

    }

}