:root {

    --f_primary: 'Playfair Display', serif;
    --f_secondary: 'Poppins', sans-serif;

    --laranja_light: #ec8444;
    --laranja_dark: #cb6e43;
    --marrom: #793922;
    --marrom_dark: #4a2112;
    --bege: #fadbbf;

    --holo-gradient-1: repeating-linear-gradient(
        125deg,
        #ffffff 0%,
        #fef08a 12%,
        #d97706 25%,
        #ffffff 50%,
        #fef08a 62%,
        #d97706 75%,
        #ffffff 100%
    );

    --holo-gradient-2: repeating-linear-gradient(
        127deg,
        #ffd700 0%,
        #ffffff 10%,   
        #3a2000 20%,   
        #b8860b 30%,   
        #ffffff 40%,   
        #ffd700 50%
    );
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--f_primary);
    background-color: var(--bege);
    color: var(--marrom);
    min-height: 100vh;
    padding: 20px;
}

.title{

    font-size: 45px;
    text-align: center;
    margin: 20px;

}

.card-display-container {
    box-shadow: 0 0 40px 10px rgba(74, 33, 18, .3);
    color: var(--bege);
    margin:auto;
    display: flex;
    gap: 50px;
    max-width: 900px;
    width: 100%;
    background-color: var(--marrom);
    background: linear-gradient(90deg, var(--bege) 50%, var(--marrom) 50%);
    padding: 40px;
    border-radius: 16px;
    align-items: center;
}

/* left */

.left-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* right */

.right-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-title {
    font-size: 2.2rem;
    margin-bottom: 15px;
}

.card-description {
    font-family: var(--f_secondary);
    text-indent: 30px;
    text-align: justify;
    line-height: 1.6;
    font-size: 1rem;
}

/* navgation */

.nav-btn {
    background-color: rgba(255, 255, 255, 0.08);
    border: 2px solid var(--laranja_dark);
    color: var(--laranja_dark);
    font-size: 1.2rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
    user-select: none;
    z-index: 10;
}

.nav-btn:hover {
    border: 2px solid var(--laranja_light);
    color: var(--bege);
    background-color: var(--laranja_light);
    transform: scale(1.1);
}

.prev-btn {
    margin-right: 25px;
}

.next-btn {
    margin-left: 25px;
}

.dots-container {
    display: flex;
    gap: 12px;
    margin-top: 25px;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: var(--bege);
    border: 2px solid var(--laranja_light);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s;
}

.dot:hover {
    transform: scale(1.3);
}

.dot.active {
    background-color: var(--laranja_light);
    transform: scale(1.2);
}